<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<config>
		<repositoryPath>packages</repositoryPath>
	</config>
  <packageSources>
    <!-- remove any machine-wide sources with <clear/> -->
    <clear />
    <!-- also get packages from the NuGet Gallery -->
    <add key="nuget.org" value="https://www.nuget.org/api/v2/" />
  </packageSources>
</configuration>