<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="wcfTimbradoRetencionesEndpoint" />
                <binding name="wcfTimbradoRetencionesEndpoint1">
                    <security mode="Transport" />
                </binding>
                <binding name="wcfTimbradoRetencionesEndpoint2" />
                <binding name="wcfTimbradoRetencionesEndpoint11">
                    <security mode="Transport" />
                </binding>
                <binding name="wcfTimbradoRetencionesEndpoint3" />
                <binding name="wcfTimbradoRetencionesEndpoint12">
                    <security mode="Transport" />
                </binding>
                <binding name="wcfTimbradoRetencionesEndpoint4" />
                <binding name="wcfTimbradoRetencionesEndpoint13">
                    <security mode="Transport" />
                </binding>
                <binding name="wcfTimbradoRetencionesEndpoint5" />
                <binding name="wcfTimbradoRetencionesEndpoint14">
                    <security mode="Transport" />
                </binding>
                <binding name="wcfTimbradoRetencionesEndpoint6" />
                <binding name="wcfTimbradoRetencionesEndpoint15">
                    <security mode="Transport" />
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://cfdi.smartweb.com.mx/Timbrado/wcfTimbradoRetenciones.svc"
                binding="basicHttpBinding" bindingConfiguration="wcfTimbradoRetencionesEndpoint"
                contract="Retention.IwcfTimbradoRetenciones" name="wcfTimbradoRetencionesEndpoint" />
            <endpoint address="https://sufacturacion2m/Timbrado/wcfTimbradoRetenciones.svc"
                binding="basicHttpBinding" bindingConfiguration="wcfTimbradoRetencionesEndpoint1"
                contract="Retention.IwcfTimbradoRetenciones" name="wcfTimbradoRetencionesEndpoint1" />
            <endpoint address="http://cfdi.smartweb.com.mx/Timbrado/wcfTimbradoRetenciones.svc"
                binding="basicHttpBinding" bindingConfiguration="wcfTimbradoRetencionesEndpoint2"
                contract="ServiceReference1.IwcfTimbradoRetenciones" name="wcfTimbradoRetencionesEndpoint2" />
            <endpoint address="https://sufacturacion2k/Timbrado/wcfTimbradoRetenciones.svc"
                binding="basicHttpBinding" bindingConfiguration="wcfTimbradoRetencionesEndpoint11"
                contract="ServiceReference1.IwcfTimbradoRetenciones" name="wcfTimbradoRetencionesEndpoint11" />
            <endpoint address="http://cfdi.smartweb.com.mx/Timbrado/wcfTimbradoRetenciones.svc"
                binding="basicHttpBinding" bindingConfiguration="wcfTimbradoRetencionesEndpoint3"
                contract="Retention.IwcfTimbradoRetenciones" name="wcfTimbradoRetencionesEndpoint3" />
            <endpoint address="https://sufacturacion2m/Timbrado/wcfTimbradoRetenciones.svc"
                binding="basicHttpBinding" bindingConfiguration="wcfTimbradoRetencionesEndpoint12"
                contract="Retention.IwcfTimbradoRetenciones" name="wcfTimbradoRetencionesEndpoint12" />
            <endpoint address="http://cfdi.smartweb.com.mx/Timbrado/wcfTimbradoRetenciones.svc"
                binding="basicHttpBinding" bindingConfiguration="wcfTimbradoRetencionesEndpoint4"
                contract="ServiceReference1.IwcfTimbradoRetenciones" name="wcfTimbradoRetencionesEndpoint4" />
            <endpoint address="https://sufacturacion2m/Timbrado/wcfTimbradoRetenciones.svc"
                binding="basicHttpBinding" bindingConfiguration="wcfTimbradoRetencionesEndpoint13"
                contract="ServiceReference1.IwcfTimbradoRetenciones" name="wcfTimbradoRetencionesEndpoint13" />
            <endpoint address="http://cfdi.smartweb.com.mx/Timbrado/wcfTimbradoRetenciones.svc"
                binding="basicHttpBinding" bindingConfiguration="wcfTimbradoRetencionesEndpoint5"
                contract="ServiceReference1.IwcfTimbradoRetenciones" name="wcfTimbradoRetencionesEndpoint5" />
            <endpoint address="https://sufacturacion2m/Timbrado/wcfTimbradoRetenciones.svc"
                binding="basicHttpBinding" bindingConfiguration="wcfTimbradoRetencionesEndpoint14"
                contract="ServiceReference1.IwcfTimbradoRetenciones" name="wcfTimbradoRetencionesEndpoint14" />
            <endpoint address="http://cfdi.smartweb.com.mx/Timbrado/wcfTimbradoRetenciones.svc"
                binding="basicHttpBinding" bindingConfiguration="wcfTimbradoRetencionesEndpoint6"
                contract="ServiceReference1.IwcfTimbradoRetenciones" name="wcfTimbradoRetencionesEndpoint6" />
            <endpoint address="https://sufacturacion2m/Timbrado/wcfTimbradoRetenciones.svc"
                binding="basicHttpBinding" bindingConfiguration="wcfTimbradoRetencionesEndpoint15"
                contract="ServiceReference1.IwcfTimbradoRetenciones" name="wcfTimbradoRetencionesEndpoint15" />
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup>
</configuration>
