<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IConsultaCFDIService">
                    <security mode="Transport" />
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://srvconsultacfdiuat.cloudapp.net/ConsultaCFDIService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IConsultaCFDIService"
                contract="ConsultaCFDIService.IConsultaCFDIService" name="BasicHttpBinding_IConsultaCFDIService" />
        </client>
    </system.serviceModel>
</configuration>