<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SAT.Services.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IConsultaCFDIService">
                    <security mode="Transport" />
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://srvconsultacfdiuat.cloudapp.net/ConsultaCFDIService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IConsultaCFDIService"
                contract="ConsultaCFDIService.IConsultaCFDIService" name="BasicHttpBinding_IConsultaCFDIService" />
        </client>
    </system.serviceModel>
    <applicationSettings>
        <SAT.Services.Properties.Settings>
            <setting name="SAT_Services_RetencionService_wcfTimbradoRetenciones"
                serializeAs="String">
                <value>http://cfdi.smartweb.com.mx/Timbrado/wcfTimbradoRetenciones.svc</value>
            </setting>
        </SAT.Services.Properties.Settings>
    </applicationSettings>
</configuration>