<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BouncyCastle" version="1.8.9" targetFramework="net45" />
  <package id="cadenaoriginal33.dll" version="1.4.3" targetFramework="net45" />
  <package id="cadenaoriginal40.dll" version="0.0.2" targetFramework="net45" />
  <package id="cadenaoriginalRetenciones20.dll" version="1.0.1" targetFramework="net45" />
  <package id="cadenaoriginalTFD11.dll" version="1.0.5" targetFramework="net45" />
  <package id="Gma.QrCodeNet" version="0.4.1.2" targetFramework="net45" />
  <package id="Mono.Security" version="3.2.3.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net45" />
  <package id="SW.Tools" version="1.0.3.1-rc" targetFramework="net45" />
</packages>